{% extends 'base.html' %}
{% block main %}
<div class="container">
    <div class="row mt-5 mb-2">
        <div class="col-12 col-md-6 mx-auto">
            <p>Вы вышли</p>
            <a class="heading" href="{% url 'login' %}">Войти снова</a>
        </div>
    </div>
</div>

{% endblock %}