{% extends 'base.html' %}
{% block main %}
<div class="container">
    <div class="row mt-5 mb-2">
        <div class="col-12 col-md-6 mx-auto">
            <h1 class="align-center">Пароль успешно изменен</h1>
            <a href="/accounts/login/" class="d-block align-center mt-5 heading">Войти снова?</a>
        </div>
    </div>
</div>
{% endblock %}