{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block main %}
<div class="container">
    <div class="row mt-5 mb-2">
        <div class="col-12 col-md-6 mx-auto">
            <h1 class="align-center">Изменить пароль</h1>
            <form  method="post" class="mx-auto">
                {% csrf_token %}
                {{ form|crispy }}
                <button  type="submit"  class="btn btn-primary">Сменить</button>
             </form>
        </div>
    </div>
</div>
{% endblock %}