{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block main %}
<div class="container">
    <div class="row mt-5 mb-2">
        <div class="col-12 col-md-6 mx-auto">
            <h1 class="align-center">Пароль успешно изменен</h1>
            <a href="/accounts/{{ user.get_username }}/" class="d-block align-center mt-5 heading">Вернуться к моим ошибкам</a>
        </div>
    </div>
</div>
{% endblock %}