{% extends 'base.html' %}
{% block main %}
<div class="container">
    <div class="row mt-5 mb-2">
        <div class="col-12 col-md-6 mx-auto">
            <h1 class="align-center">Ссылка на восстановление отправлена</h1>
            <p class="align-center d-block mt-3">Проверьте почту, туда ушел новый пароль или ссылка на его сброс. И попробуйте войти еще раз.</p>
            <a class="align-center d-block mt-3 btn btn-primary heading" href="/accounts/login/">Войти</a>
        </div>
    </div>
</div>

{% endblock %}