{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div class="container">
    <div class="row mt-5 mb-2">
        <div class="col-12 col-md-6 mx-auto">
            {% if validlink %}
            <h1 class="align-center">Смена пароля</h1>
            <p class="align-center d-block mt-3">Пожалуйста, укажите новый пароль.</p>
            <form action="" method="post" >
                {% csrf_token %}
                {{ form.new_password1.errors }}
                <label for="id_new_password1">Новый пароль:</label>
                {{ form.new_password1 }}
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Новый пароль (повтор):</label>
                {{ form.new_password2 }}
                <input class="btn btn-primary" type="submit" value="Сменить" />
            </form>
            {% else %}
            <h1 class="align-center">Смена пароля невозможна</h1>
            <p class="align-center d-block mt-3">Ссылка на смену пароля не валидна. Возможно, потому что она уже была использована. Пожалуйста, запросите сброс пароля снова.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}