{% extends 'base.html' %} {% block main %}
<div class="container">
    <div class="row mt-5 mb-2">
        <div class="col-12 col-md-5 card-image">
            {% if card.image %}
            <div class="image-wrapper">
                <div class="row{% if card in user.profile.finished.all %} exiled large{% endif %}">
                    <img class="mx-auto" src="{{ card.image.url }}"> 
                </div>
                {% endif %}
                {% if user.is_authenticated %}
                <div class="row mt-3 button-set">
                    {% if card in user.profile.current.all %}
                    <a href="" class="btn btn-primary mx-auto btn-add-finish mb-3" data-id="{{ card.id }}">Всё, ляпсус обезврежен</a>
                    <a href="" class="btn btn-primary mx-auto btn-remove" data-id="{{ card.id }}">Убрать из моих ошибок</a>
                    {% elif card in user.profile.finished.all %}
                    <a href="" class="btn btn-primary mx-auto btn-add-current" data-id="{{ card.id }}">Вернуть в мои ошибки</a>
                    {% else %}
                    <a href="" class="btn btn-primary mx-auto btn-add-current" data-id="{{ card.id }}">Добавить к моим ошибкам</a>
                    {% endif %}
                </div>
                {% endif %}
                <div class="mt-3 buttons-net align-center">
                    <a id="fb_s"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <script>document.write(VK.Share.button(window.location.href, {type: "custom", text: "<i class='fa fa-vk' aria-hidden='true'></i>"}));</script>
                    <a id="tw_s"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 card-detail">
            <div class="wrapper">
                <h1>{{ card.title }}</h1>{% if card.indexnum %}<span class="card-index{% if card in user.profile.current.all %} highlight{% endif %}">{{ card.indexnum }}{{ card.category|make_list|first}}</span>{% endif %}
            </div>
            <span class="subtitle">{{ card.excerpt }}</span>
            {{ card.description | safe }}
            <h3>Как побороть ошибку?</h3>
            {{ card.fix | safe }} {% if card.info %}
            <h3>Что еще прочесть?</h3>
            {{ card.info | safe }} {% endif %} 
            {% if card.examples.all %}
            <h3>Дополнительные примеры (потренируйтесь на них)</h3>
            {% if card.example %}
            {{ card.example | safe }} {% endif %}
            {% for example in card.examples.all %}
            <div class="example">
                <table>
                    <tbody>
                        <tr>
                            <td><p>{{ example.wrong }}</p></td>
                            <td>
                                <a href="" id="check" class="btn">Нашли ошибку? Проверьте</a>
                                <p id="hidden">{{ example.correct }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endfor %}
            {% endif %}
            <div class="clarity">
                <div class="row">
                    <div class="col">
                        <p>Мы понятно разъяснили эту ошибку?</p>
                    </div>
                   <div class="col btn-set">
                        <a href id="clarity_pos" class="btn btn-primary" data-id="{{ card.id }}">Да</a>
                        <a href id="clarity_neg" class="btn btn-primary" data-id="{{ card.id }}">Нет</a>
                   </div>
                   <div class="col">
                       <p class="thanx">Спасибо!</p>
                   </div>
                </div>
            </div>
            <div class="promo">
                <div class="row">
                    <div class="col-2">
                        <img class="promo-image" src="https://oshibkarium.s3.eu-west-3.amazonaws.com/img/core/core_3.png">
                    </div>
                    <div class="col-10">
                        <div class="promo-block">
                            <h3>Этот ляпсус — в ваших текстах?</h3>
                            <p>Самостоятельно найти все ошибки — трудно. Позовите опытного редактора, который на них укажет и проконсультирует вас. Или запишитесь на <a href="https://www.timuroki.ink/course" target="_blank">Тимуроки-курс</a>.</p>
                            <a href="/faq/#request_editor" class="btn btn-primary">Позвать редактора</a>
                        </div>
                    </div>
                </div>
            </div>
            {% if card.related.all %}
            {% if card.related.all|length > 1 %} 
            <h3>Родственные ошибки:</h3>
            {% else %}
            <h3>Родственная ошибка:</h3>
            {% endif %}
            <div class="row mb-5">
                {% for related in card.related.all %}
                <div class="col-6">
                    <div class="card mb-3">
                        {% if related.indexnum %}
                        <div class="index">
                            {{ related.indexnum }}{{ related.category|make_list|first}}
                        </div>
                        {% endif %}
                        <div class="card-body p-3">
                            <div class="w-66">
                                <a href="{% url 'card_detail' slug=related.slug %}">
                                    <h3 class="card-title">{{ related.title }}</h3>
                                    <p class="card-text">{{ related.excerpt }}</p>
                                </a>
                            </div>
                            <div class="w-33">
                                {% if related.image %}
                                <a href="{% url 'card_detail' slug=related.slug %}">
                                    <img class="mt-3" src="{{ related.image.url }}"> {% endif %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}