{% extends 'base.html' %} {% block main %}
<div class="bg">
    <div class="container-fluid">
        <div class="container header">
            <div class="row">
                <div class="col-lg-6 col-md-7 col-10 mx-auto my-auto align-center">
                    <h1 class="mx-5">{{ page.title }}</h1>
                    <div class="page-content mx-5">{{ page.content | safe }}</div>
                    <div class="row mt-5">
                        <div class="col mx-auto align-center buttons">
                            <a href="" class="btn btn-primary" id="scrolltocards">Ляпсусы? Это что?</a>
                            {% if user.is_authenticated %}{% else %}
                            <a class="nav-link" href="{% url 'register' %}">Зарегистрироваться</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row sticky-top">
        <div class="col">
            <div class="secondary-menu">
                <a id="acon" href="#content">Содержание</a>
                <a id="alex" href="#lex">Лексика</a>
                <a id="asynt" href="#synt">Конструкции</a>
                <a id="amisc" href="#misc">Разное</a>
            </div>
        </div>
    </div>
    <div class="row" id="pests">
        {% for cat in cats %}
        <div class="col-3">
            <h2 id="{{cat.slug}}">{{ cat.title }}</h2>
            {% for card in cat.cards.all|dictsort:"indexnum" %} {% if card.published %}
            <div class="card mb-3">
                {% if card.indexnum %}
                    {% if user.is_authenticated %}
                        <div class="index{% if card in user.profile.current.all %} highlight{% endif %}">
                            {% if card in user.profile.current.all %}
                            <a href="" class="btn-remove-index tooltip" data-id="{{ card.id }}">{{ card.indexnum }}{{ card.category|make_list|first}}
                                <span class="tooltiptext">Убрать из «моих»</span>
                            </a>
                            {% else %}
                            <a href="" class="btn-add-current-index tooltip" data-id="{{ card.id }}">{{ card.indexnum }}{{ card.category|make_list|first}}
                                <span class="tooltiptext">Добавить к моим ошибкам</span>
                            </a>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="index">
                            {{ card.indexnum }}{{ card.category|make_list|first}}
                        </div>
                    {% endif %}
                {% endif %}
                <div class="card-body p-3">
                    <div class="w-66">
                        <a href="{% url 'card_detail' slug=card.slug %}">
                            <h3 class="card-title">{{ card.title }}</h3>
                            <p class="card-text">{{ card.excerpt }}</p>
                        </a>
                    </div>
                    <div class="w-33{% if card in user.profile.finished.all %} exiled{% endif %}">
                        {% if card.image %}
                        <a href="{% url 'card_detail' slug=card.slug %}">
                            <img class="mt-3" src="{{ card.image.url }}"> {% endif %}
                        </a>
                    </div>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
<div id="begging" class="container-fluid">
    <div class="container">
        <div class="row>">
            <div class="col-lg-8 col-10 mx-auto py-5">
                <p class="align-center">Ошибкариум может расти, мы готовы поймать и описать больше ляпсусов, добавить тесты и мини-игры. Но всё это требует сил, и нам нужна ваша помощь. Расскажите о проекте друзьям, отправьте Рубли Поддержки или станьте покровителем Ошибкариума на Patreon!</p>
                <form class="mx-auto"id="yamoney" method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
                    <input type="hidden" name="receiver" value="41001372488885">
                    <input type="hidden" name="quickpay-form" value="donate">
                    <input type="hidden" name="targets" value="На развитие Ошибкариума">
                    <label>Сумма&nbsp;<input type="text" name="sum" value="99" data-type="number">&nbsp;руб.</label>
                    <div class="row">
                        <label><input type="radio" name="paymentType" value="PC">Яндекс.Деньгами</label>
                        <label><input type="radio" name="paymentType" value="AC">Банковской картой</label>
                        <label><input type="radio" name="paymentType" value="MC">Баланс могильного</label>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Перевести">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}