{% extends 'base.html' %}
{% block main %}
<div class="container">
    <div class="row mt-5 mb-2">
        <div class="col-md-8 mx-auto">
            <h1>{{ page.title }}</h1>
            {{ page.content | safe }}
        </div>
    </div>
</div>
{% endblock %}