<!doctype html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Cormorant:400i,600i|Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
    <link rel="stylesheet" href="/static/assets/libs/font-awesome/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/static/assets/js/common.js"></script>
    <script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex">
    <title>{% if request.path == "/" %}Ошибкариум{% else %}{% if card.seo_title %}{{ card.seo_title }} - Ошибкариум{% elif page.seo_title %}{{ page.seo_title }} - Ошибкариум{% else %}Ошибкариум{% endif %}{% endif %}</title>
    <meta name="description" content="{% if card.seo_desc %}{{ card.seo_desc }}{% elif page.seo_desc %}{{ page.seo_desc }}{% endif %}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{% if request.path == "/" %}
    Ошибкариум
    {% else %}
        {% if card.title %}
            {{ card.title }} - Ошибкариум
        {% elif page.title %}
            {{ page.title }} - Ошибкариум
        {% endif %}
    {% endif %}" />
    <meta property="og:description" content="{% if request.path == "/" %}
    Это сервис для авторов и для редакторов, желающих упростить работу с авторами. Изгоняйте ляпсусы самостоятельно или c помощью специалистов.
    {% else %}
        {% if card.excerpt %}
            {{ card.excerpt }}
        {% elif page.content %}
            {{ page.content }}
        {% endif %}
    {% endif %}" />
    <meta property="og:image" content="{% if request.path == "/" %}
    https://oshibkarium.s3.eu-west-3.amazonaws.com/img/core/main.png
    {% else %}
        {% if card.image %}
            {{ card.image.url }}
        {% endif %}
    {% endif %}" />
</head>

<body>
    <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId            : '672785843478474',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v7.0'
          });
        };
    </script>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
    <div id="page">
        <div class="container-fluid p-fixed top-menu">
            <nav class="navbar">
                <div class="container">
                    <a class="navbar-brand" href="/#pests">Ошибкариум</a>
                    <div class="navbar-nav ml-auto">
                        <ul class="nav mt-2 mt-lg-0">
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="/accounts/{{ user.get_username }}/">Мои ошибки</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Войти</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">Зарегистрироваться</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsed" aria-controls="navbarCollapsed" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarCollapsed">
                        {% if user.is_authenticated %}
                            <a href="/accounts/{{ user.get_username }}/"><h2>Мои ошибки ({{ user.profile.current.all|length }})</h2></a>
                        {% endif %}
                        <a href="#content"><h2>Содержание</h2></a>
                        <a href="#synt"><h2>Конструкции</h2></a>
                        <a href="#lex"><h2>Лексика</h2></a>
                        <a href="#misc"><h2>Разное</h2></a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}"><h2>Выйти</h2></a>
                        {% else %}
                        <i class="fa fa-circle" aria-hidden="true"></i>
                            <p class="align-center">Для работы со своими ошибками</p>
                            <div class="wrapper">
                                <a class="btn btn-mobile" href="{% url 'register' %}">Зарегистрироваться</a>
                                <a id="login" href="{% url 'login' %}">Войти</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
        {% block main %} {% endblock %}
    </div>
    <footer>
        <div class="container">
            <div class="row col-lg-8 col-10 mx-auto">
                <div class="col-md-3 col-12 footer">
                    <h4>Чтобы научиться</h4>
                    <ul>
                        <li><a href="https://www.timuroki.ink/course" target="_blank">Тимуроки-курс</a></li>
                        <li><a href="https://www.timuroki.ink/thewritingdead" target="_blank">Лечение зомби-речи</a></li>
                        <li><a href="https://www.timuroki.ink/articles-on-writing" target="_blank">Полезный блог</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-12 footer">
                    <h4>Чтобы общаться</h4>
                    <ul>
                        <li><a href="http://tlgg.ru/verbalkinks" target="_blank">Обсуждения</a></li>
                        <li><a href="http://tlgg.ru/timuroki" target="_blank">Телеграм-канал</a></li>
                        <li><a href="https://www.facebook.com/timuroki" target="_blank">Фейсбук-страница</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-12 footer">
                    <h4>Рассылка Ошибкариума</h4>
                    <form id="subscription" action="https://smartia.us13.list-manage.com/subscribe/post" method="POST">
                        <input type="hidden" name="u" value="c06b10e38a025e33133083f8e">
                        <input type="hidden" name="id" value="1e212793ec">
                        <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="EMAIL">
                    </form>
                    <button class="btn btn-primary btn-small" name="submit">Подписаться</button>
                    <div class="clearfix"></div>
                    <p class="success">Спасибо за подписку!</p>
                    <p>Одно письмо в месяц, если добавлены новые ляпсусы/функции.</p>
                </div>
            </div>
            <div class="row copyright">
                <div class="col align-center">
                    <span><a href="https://timuroki.ink" target="_blank">Тимуроки</a> © 2020 и далее</span><span class="sep">|</span><span><a href="/legal-agreement/">Пользовательское соглашение</a></span>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>