/* Table */
table {
    width: 100%;
    background-color: #f3f4eb;
    border: 0!important;
    border-radius: 0.75em;
    margin-bottom: 1.25em;
}
tr > td:only-child.red {
    width: 100%;
    color: #ef4c24!important;
}
tr > td:only-child.green {
    width: 100%;
    color: #41a31d!important;
}
tr > td:first-child {
    color: #ef4c24;
}
tr > td:nth-child(2) {
    color: #41a31d;
}
td {
    border: 0!important;
    padding: 1.25em;
    width: 50%;
    font-size: 0.9em;
}
td > p {
    margin-bottom: 0!important;
}