{% extends 'base.html' %}
{% block main %}
<div class="container">
    <h2>{{ user.get_full_name }}</h2>
    <a class="heading" href="edit">Редактировать профиль</a><br />
    <a class="heading" href="/accounts/password_change/">Сменить пароль</a>
    {% if user.profile.current.all %}
    <h2>Хочу прогнать из своих текстов:</h2>
    <div class="account-cards row mb-5 ">
        {% for current in user.profile.current.all %}
        {% if current.published %}
        <div class="col-3">
            <div class="card mb-3">
                {% if current.indexnum %}
                <div class="index highlight">
                    {{ current.indexnum }}{{ current.category|make_list|first}}
                </div>
                {% endif %}
                <div class="card-body p-3">
                    <div class="w-66">
                        <a href="{% url 'card_detail' slug=current.slug %}">
                            <h3 class="card-title">{{ current.title }}</h3>
                            <p class="card-text">{{ current.excerpt }}</p>
                        </a>
                    </div>
                    <div class="w-33">
                        {% if current.image %}
                        <a href="{% url 'card_detail' slug=current.slug %}">
                            <img class="mt-3" src="{{ current.image.url }}"> {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    {% if user.profile.finished.all %}
    <h2>Уже обезврежены:</h2>
    <div class="account-cards row mb-5">
        {% for finished in user.profile.finished.all %}
        {% if finished.published %}
        <div class="col-3">
            <div class="card mb-3">
                {% if finished.indexnum %}
                <div class="index done">
                    {{ finished.indexnum }}{{ finished.category|make_list|first}}
                </div>
                {% endif %}
                <div class="card-body p-3">
                    <div class="w-66">
                        <a href="{% url 'card_detail' slug=finished.slug %}">
                            <h3 class="card-title">{{ finished.title }}</h3>
                            <p class="card-text">{{ finished.excerpt }}</p>
                        </a>
                    </div>
                    <div class="w-33 exiled">
                        {% if finished.image %}
                        <a href="{% url 'card_detail' slug=finished.slug %}">
                            <img class="mt-3" src="{{ finished.image.url }}"> {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
