{% extends  'base.html' %}
{% block main %}
<div class="container">
    <div class="row mt-5 mb-2">
        <div class="col-12 col-md-6 mx-auto">
            <h1 class="align-center">Регистрация</h1>
            <form id="register" method="post" class="mx-auto">
                {% csrf_token %}
                {{ form.as_p }}
                <input id="reg" type="submit" class="btn btn-primary" value="Зарегистрировать">
            </form>
            <p class="align-center mt-3 helptext">Отправляя данные с помощью этой формы вы подтверждаете свое согласие с нашим <a href="/legal-agreement/" target="_blank">пользовательским соглашением</a></p>
        </div>
    </div>
</div>
{% endblock %}